@white     : #FFFFFF;
@whiteish  : #F3F1F2;

@lightdark : #C8CCCF;
@darkish   : #666;
@dark      : #4F4F4F;

/* Project-specific styles go here */
#root {
    width: 800px;
    height: 400px;
    svg {
        height: 300px;
        padding: 4em;
    }
}

@media (max-width : 800px) {
    #root {}
}
